.banner_home {
    background-image: url(../img/banner_shop.png);
    height: 47vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner_home h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.banner_home a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.filter {
    background-color: #F9F1E7;
    height: 100px;
}

.cards {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.card_product {
    background-color: var(--color3);
}

.card_product:hover {
    scale: 1.1;
    cursor: pointer;
}

.informations_product {
    padding: 15px 15px 25px 15px;
}

.informations_product h3{
    color: var(--font3);
    line-height: 120%;
    font-size: 1.5rem;
    font-weight: 600;
}

.informations_product p {
    color: var(--font4);
    font-size: 1rem;
    line-height: 150%;
    margin: 5px 0;
}

.informations_product span {
    color: var(--font3);
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 150%;
}