@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

:root {
    --font1 : #333333;
    --font2: #666666;
    --font3: #3a3a3a;
    --font4: #898989;
    --color1: #B88E2F;
    --color2: #FBFFE3;
    --color3: #F4F5F7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}


.header-links {
    display: flex;
    align-items: center;
}

.header-links li {
    list-style: none;
}

.header-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 25px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons a {
    margin: 25px;
}

#home {
    background-image: url(../img/homeImg.png);
    height: 100vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color2);
    width: 45vw;
    border-radius: 10px;
    padding: 40px 30px 25px;
}

.home-card .text span {
    color: var(-font1-);
    font-weight: bold;
    letter-spacing: 3px;
}

.home-card .text h2{
    font-size: 3.5rem;
    line-height: 65px;
    font-weight: bold;
    color: var(--color1);
}

.home-card .text p {
    color: var(--font1);
    font-size: 1.1rem;
    line-height: 24px;
}

.home-card a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--color1);
    width: 15vw;
    padding: 15px;
    margin-top: 40px;
}

#options .text_options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh;
}

#options .text_options h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--font1);
}

#options .text_options span {
    color: var(--font2);
    font-size: 1.2rem;
}

#options .cards_options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_option:first-child img,
.card_option:last-child img {
    border-radius: 10px;
}

.card_option p {
    margin: 10px;
    color: var(--font1);
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

#products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#products h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 120%;
    color: var(--font3);
    margin-top: 20px;
    margin-bottom: 30px;
}

.cards_products {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.card_product {
    background-color: var(--color3);
}

.card_product:hover {
    scale: 1.1;
}

.informations_product {
    padding: 15px 15px 25px 15px;
}

.informations_product h3{
    color: var(--font3);
    line-height: 120%;
    font-size: 1.5rem;
    font-weight: 600;
}

.informations_product p {
    color: var(--font4);
    font-size: 1rem;
    line-height: 150%;
    margin: 5px 0;
}

.informations_product span {
    color: var(--font3);
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 150%;
}

#products a {
    margin: 25px;
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    border: solid 2px var(--color1);
    padding: 10px 65px;
}